<?xml version="1.0"?>
<launch>
  <arg name="basename" default="hokuyo3d"/>

  <node pkg="tf" type="static_transform_publisher" name="stf_$(arg basename)_laser"
      args="0.071 0.0 0.0055 0.0 0.0 0.0 $(arg basename)_link $(arg basename) 100"/>
  <node pkg="tf" type="static_transform_publisher" name="stf_$(arg basename)_imu"
      args="0.01 0.0 0.0 1.571 0.0 1.571 $(arg basename)_link $(arg basename)_imu 100"/>
  <node pkg="tf" type="static_transform_publisher" name="stf_$(arg basename)_mag"
      args="0.01 0.0 0.0 -1.571 -1.571 1.571 $(arg basename)_link $(arg basename)_mag 100"/>
</launch>
